<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.smssender"
        versionCode="10"
        version   = "2014.06.12.1">

    <name>SMS sender</name>
    <preference name="phonegap-version" value="3.3.0" />

    <description>
        send SMS
    </description>

    <author href="https://ivanezko.com" email="ivanezko@gmail.com">
        Ivan Eidemiller
    </author>

    <access origin="*" />

    <preference name="loglevel" value="DEBUG" />





    <plugin name="Battery" value="org.apache.cordova.BatteryListener" />
    <plugin name="NetworkStatus" value="org.apache.cordova.NetworkManager" />
    <gap:plugin name="org.apache.cordova.device" />
</widget>